<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1 th:text="${name}"/>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.lastName}"/>
        <td>
            <a th:href="@{/users/edit(id=${user.id})}">Edit</a>
            <form th:action="@{/users/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br/>
<form th:method="GET" th:action="@{/users/new}">
    <input type="submit" value="Create new user"/>
</form>
</body>
</html>