<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<h1>User Details</h1>

<p>ID: <span th:text="${user.id}"/></p>
<p>Name: <span th:text="${user.name}"/></p>
<p>Last Name: <span th:text="${user.lastName}"/></p>

<a th:href="@{/users/edit(id=${user.id})}">Edit</a>
<form th:action="@{/users/delete}" method="post" style="display:inline;">
  <input type="hidden" name="id" th:value="${user.id}"/>
  <button type="submit">Delete</button>
</form>
</body>
</html>